.main-perfil{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

.nav-perfil{
    width: 100%;
    height: min-content;
    background-color: var(--third-color);
}

.nav-perfil-ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.nav-perfil-li{
    width: 100%;
    list-style: none;
    padding: 8px;
    font-size: 16px;
    text-align: center;
}

.nav-perfil-li > a{
    color: #FFF;
    text-decoration: none;
}

.nav-perfil-li:hover{
    background-color: var(--section-color);
}

.contenedor-vacio{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

.form-perfil-group{
    margin: 80px 10px 0 10px;
}

.form-perfil{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.form-perfil-group > label{
    font-weight: bold;
    margin: 20px 0 0 0;
    color: #000;
}

.form-button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.form-button-group > *{
    width: 80%;
    margin: 30px 10px 10px 10px;
    border-radius: 200px;
}

.btn-oculto-cerrar-sesion{
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -webkit-appearance: button; /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}
